
body{
  overflow-y: auto;
  overflow-x: auto;
}
.ie7 body{
  overflow:auto;
}
a{
  text-decoration: none;
}
.clr{
  clear: both;
}

.introTitle {
  position: relative;
	height: 100vh;
  margin: 5vh 0px 0px 5%;

  text-align: left;
  font-family: 'Tangerine', serif;
  font-size: 5rem;
  font-weight: 600;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

.introShowImg
{
	box-sizing: border-box;
  position: absolute;
	border: 0;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 0;
	overflow: hidden;
}

.introShowImg li span {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  color: transparent;
	background-color: rgb(31, 31, 32);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
	overflow: auto;
  opacity: 0;
  z-index: 0;
	backface-visibility: hidden;
	/*
	-webkit-backface-visibility: hidden;
  -moz-animation: imageAnimation 24s linear infinite 0s;
  -o-animation: imageAnimation 24s linear infinite 0s;
  -ms-animation: imageAnimation 24s linear infinite 0s;
	*/
  animation: imageAnimation 24s linear infinite 0s;
}
.introShowImg li div {
  position: absolute;
  bottom: 25%;
  width: 100%;
  text-align: center;
	overflow: hidden;
  opacity: 0;
  z-index: 1000;
	/*
  -webkit-animation: titleAnimation 24s linear infinite 0s;
  -moz-animation: titleAnimation 24s linear infinite 0s;
  -o-animation: titleAnimation 24s linear infinite 0s;
  -ms-animation: titleAnimation 24s linear infinite 0s;
	*/
  animation: titleAnimation 24s linear infinite 0s;
}
.introShowImg li div h3 {
  /* font-family: "helvetica neue", helvetica; */
	font-family: 'Kalam', cursive;
  font-size: 5rem;
  padding: 0;
  line-height: 7rem;
	color: rgba(255,255,255, 0.8);
}
.introShowImg li:nth-child(1) span { 
	  background-image: url('../images/welcomeinn1.jpg') }
.introShowImg li:nth-child(2) span {
    background-image: url('../images/welcomeinn2.jpg');
		/*
    -webkit-animation-delay: 8s;
    -moz-animation-delay: 8s;
    -o-animation-delay: 8s;
    -ms-animation-delay: 8s;
		*/
    animation-delay: 8s;
}
.introShowImg li:nth-child(3) span {
    background-image: url('../images/welcomeinn3.jpg');
		/*
    -webkit-animation-delay: 16s;
    -moz-animation-delay: 16s;
    -o-animation-delay: 16s;
    -ms-animation-delay: 16s;
		*/
    animation-delay: 16s;
}

.introShowImg li:nth-child(2) div {
		/*
    -webkit-animation-delay: 8s;
    -moz-animation-delay: 8s;
    -o-animation-delay: 8s;
    -ms-animation-delay: 8s;
		*/
    animation-delay: 8s;
}
.introShowImg li:nth-child(3) div {
		/*
    -webkit-animation-delay: 16s;
    -moz-animation-delay: 16s;
    -o-animation-delay: 16s;
    -ms-animation-delay: 16s;
		*/
    animation-delay: 16s;
}

@keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    transform: scale(1.05);
	    animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    transform: scale(1.1);
	}
	50% {
	    opacity: 0;
	    transform: scale(1.1);
	}
	100% { opacity: 0 }
}

@keyframes titleAnimation { 
	0% {
	    opacity: 0;
	    transform: translateY(200px);
	}
	8% {
	    opacity: 1;
	    transform: translateY(0px);
	}
	30% {
	    opacity: 1;
	    transform: scale(1);
	}
	35% { opacity: 0 }
	50% {
	    opacity: 0;
	    transform: scale(10);
	}
	100% { opacity: 0 }
}

/* Animation for the introShowImg images */
/*
@-webkit-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -webkit-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    -webkit-transform: scale(1.05);
	    -webkit-animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    -webkit-transform: scale(1.1);
	}
	50% {
	    opacity: 0;
	    -webkit-transform: scale(1.1);
	}
	100% { opacity: 0 }
}
@-moz-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -moz-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    -moz-transform: scale(1.05);
	    -moz-animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    -moz-transform: scale(1.1);
	}
	50% {
	    opacity: 0;
	    -moz-transform: scale(1.1);
	}
	100% { opacity: 0 }
}
@-o-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -o-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    -o-transform: scale(1.05);
	    -o-animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    -o-transform: scale(1.1);
	}
	50% {
	    opacity: 0;
	    -o-transform: scale(1.1);
	}
	100% { opacity: 0 }
}
@-ms-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -ms-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    -ms-transform: scale(1.05);
	    -ms-animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    -ms-transform: scale(1.1);
	}
	50% {
	    opacity: 0;
	    -ms-transform: scale(1.1);
	}
	100% { opacity: 0 }
}
*/
/* Animation for the title */
/*
@-webkit-keyframes titleAnimation { 
	0% {
	    opacity: 0;
	    -webkit-transform: translateY(200px);
	}
	8% {
	    opacity: 1;
	    -webkit-transform: translateY(0px);
	}
	30% {
	    opacity: 1;
	    -webkit-transform: scale(1);
	}
	35% { opacity: 0 }
	50% {
	    opacity: 0;
	    -webkit-transform: scale(10);
	}
	100% { opacity: 0 }
}
@-moz-keyframes titleAnimation { 
	0% {
	    opacity: 0;
	    -moz-transform: translateY(200px);
	}
	8% {
	    opacity: 1;
	    -moz-transform: translateY(0px);
	}
	30% {
	    opacity: 1;
	    -moz-transform: scale(1);
	}
	35% { opacity: 0 }
	50% {
	    opacity: 0;
	    -moz-transform: scale(10);
	}
	100% { opacity: 0 }
}
@-o-keyframes titleAnimation { 
	0% {
	    opacity: 0;
	    -o-transform: translateY(200px);
	}
	8% {
	    opacity: 1;
	    -o-transform: translateY(0px);
	}
	30% {
	    opacity: 1;
	    -o-transform: scale(1);
	}
	35% { opacity: 0 }
	50% {
	    opacity: 0;
	    -o-transform: scale(10);
	}
	100% { opacity: 0 }
}
@-ms-keyframes titleAnimation { 
	0% {
	    opacity: 0;
	    -ms-transform: translateY(200px);
	}
	8% {
	    opacity: 1;
	    -ms-transform: translateY(0px);
	}
	30% {
	    opacity: 1;
	    -ms-transform: scale(1);
	}
	35% { opacity: 0 }
	50% {
	    opacity: 0;
	    -webkit-transform: scale(10);
	}
	100% { opacity: 0 }
}
*/
/* Show at least something when animations not supported */
.no-cssanimations .introShowImg li span{
	opacity: 1;
}
@media screen and (max-width: 1140px) { 
	.introShowImg li div h3 { font-size: 5rem }
}
@media screen and (max-width: 600px) { 
	.introShowImg li div h3 { font-size: 5rem }
}

.infoSections{
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-family: 'Sometype Mono', monospace;
  font-size: 1.2rem;
	display: flow-root;
}

.infoText h{
	margin: 5rem 15% 1rem 15%;
	text-align: center;
	font-size: 2.5rem;
	font-weight: 400;
	display: flow-root;
}

.infoText p{
	margin: 0 10%;
	text-align: center;
	font-size: 1.2rem;
}

.suitesSectionContainer{
	margin: 8rem 0 0 0;
	width: 100vw;
	height: fit-content;
	/*
	background-image: url('../images/eastGarden.jpg') ;
	*/
	background-image: linear-gradient(rgb(136, 175, 100), rgb(180, 184, 176));
	background-size: 100% 50%; 
	background-repeat: no-repeat;
	display: flow-root;
}

.suitesSectionContainer > h1 {
	font-size: 2.3rem;
	font-weight: 400;
	padding: 2.3rem;
	display: flow-root;

}

.suiteContainer {
	width: 100%;
	display: flex;
	flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
	justify-content: space-evenly;
}

.suiteContainer a{
	margin: 0;
	padding: 0;
}


.suite {
  display: flex;
  flex-direction: column;
  width: 20rem;
 	background-color: rgb(215, 215, 215);
 	border-radius: 10px;
 	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	padding: 0.5rem;
	text-align: center;
	margin: 1rem;
}

 .suite:hover { box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);}

.suite h1 {
	font-size: 1.2rem;
	font-weight: bold;
	color: rgb(0, 0, 0);
}      

.suite a {
	font-size: 1.1rem;
	font-weight: lighter;
	color: rgba(0, 0, 0, 0.78);
}      

.site-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}


.contactContainerPrev{
	margin: 7rem 0 0 0 ;
	width: 100%;
	height: fit-content;
	/*
	background-image: url('../images/eastGarden.jpg') ;
	*/
	background-image: linear-gradient(rgb(63, 63, 62), rgb(237, 238, 237));
	background-size: cover;
	background-repeat: no-repeat;
}

.contactContainer {
	background-color: rgba(0, 0, 0, 0.692) ;
	background-size: cover;
	background-repeat: no-repeat;
  margin: 7rem 0 0 0 ;
	width: 100%;
  height: fit-content;
	display: flex;
	flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
	justify-content: space-evenly;
}


.contactBox {
  display: flex;
  flex-direction: column;
  width: 20rem;
	padding: 0.8rem;
	text-align: center;
	margin: 1rem;
}

.contactBox img {
	max-width:50%;
	max-height: 50%;
	vertical-align: middle;
}

.contactBox a[href^='Mailto:']::before {
  content: '📤 ';
}

.contactBox a[href^='Tel:']::before {
  content: '📞 ';
}

.contactBox h1 { 
	font-size: large;
	font-style: italic ;
	font-weight:bolder ;
	color: #b6b6b6;
	padding: 1rem;
	vertical-align: middle;
}

.contactBox a { 
	font-size: medium;
	color: #b6b6b6;
	vertical-align: middle;
}