:root {
  --suiteWidthSmall: 30rem ;
  --suiteWidthFS: 100% ;
	--suiteWidth: var(--suiteWidthSmall);
	/*
	--suiteImgWidth: var(--suiteImgWidthSmall);
	*/
}

body{
  overflow-y: auto;
  overflow-x: auto;
	background-color: rgb(180, 184, 176) ;
	background-image: linear-gradient(rgb(136, 175, 100), rgb(180, 184, 176));
	background-size: 100% 100%; 
	background-repeat: no-repeat ;
}
.ie7 body{
  overflow:auto;
}
a{
  text-decoration: none;
}
.clr{
  clear: both;
}


.suitesSectionContainer{
	margin: 0rem 0 0 0;
	width: 100vw;
	height: fit-content;
	/*
	background-image: url('../images/eastGarden.jpg') ;
	*/
	background-repeat: no-repeat;
	display: flow-root;
}

.suiteScaleButton{
	position: fixed;
	background-color:  rgb(215, 215, 215);
	color: black;
	border : 0.17rem solid black;
	top: 5%;
	right: 5%;
	width: auto; 
	height: auto;
	padding: 0;
	margin: 0;
	font-size: 2rem;
	cursor: pointer;
}

.suitesSectionContainer > h1 {
	font-size: 2.3rem;
	font-weight: 400;
	padding: 2.3rem;
	display: flow-root;

}

.suiteContainer {
	padding: 0;
	margin: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
	justify-content: space-evenly;
}

.suiteContainer a{
	margin: 0;
	padding: 0;
}


.suiteImgPrev {
  width: var(--suiteWidth);
 	background-color: rgb(215, 215, 215);
 	border-radius: 10px;
 	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	padding: 0.5rem;
	text-align: center;
	margin: 1rem;
}
.suiteImg {
  width: var(--suiteWidth);
 	background-color: rgb(215, 215, 215);
	padding: 0;
	border: 0;
	margin: 0;
	text-align: center;
}


 .suite:hover { box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);}

.suite h1 {
	font-size: 1.2rem;
	font-weight: bolder;
}      

.site-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}


.contactSection{
	margin: 7rem 0 0 0 ;
	width: 100%;
	height: fit-content;
	/*
	background-image: url('../images/eastGarden.jpg') ;
	*/
	background-image: linear-gradient(rgb(63, 63, 62), rgb(237, 238, 237));
	background-size: cover;
	background-repeat: no-repeat;
}

a[href^='mailto']::before {
  content: '📧 ';
}

a[href^='tel']::before {
  content: '📞 ';
}

.contactMap{
	margin: 1rem;
	width: 15rem;
	height: 15rem;
}